/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Aclonica");
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  max-width: 100vw;
  max-height: 100vh;
  display: -ms-grid;
  display: grid;
  margin: 58px auto;
  -ms-grid-columns: (minmax(385px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(385px, 1fr));
  grid-auto-rows: minmax(385px, auto);
  background-color: white;
  opacity: 0;
}

.wrapper.fadeInGallery {
  -webkit-animation: fadeIn 1s ease-out forwards;
          animation: fadeIn 1s ease-out forwards;
}

.panel {
  margin-left: 2.5px;
  margin-right: 2.5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
}

.footer {
  margin-left: 5px;
  margin-right: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  grid-column: 1 / -1;
  height: 150px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  line-height: 25px;
  padding: 10px;
}

@media only screen and (min-width: 420px) {
  .footer {
    line-height: 30px;
    font-size: 1em;
    padding: 30px;
  }
}

@media only screen and (min-width: 1100px) {
  .footer {
    line-height: 40px;
    font-size: 1em;
    padding: 30px;
  }
}

.footer span {
  color: white;
}

.wrapper > * {
  background-color: #3b3b3b;
  color: lightgray;
  padding: 1px;
  font-size: 150%;
  margin-bottom: 5px;
  overflow: hidden;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  font-size: 1.2em;
}

header h1 {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.4em;
}

header .btn-open-menu {
  width: 25px;
  height: 18px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

@media only screen and (min-width: 420px) {
  header .btn-open-menu {
    right: 20px;
  }
}

@media only screen and (min-width: 1100px) {
  header .btn-open-menu {
    right: 45px;
  }
}

header .btn-open-menu:after {
  background-color: #000;
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

header .btn-open-menu .hamburguer {
  position: relative;
  display: block;
  background: #000;
  width: 100%;
  height: 2px;
  top: 5px;
  left: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

header .btn-open-menu .hamburguer:before, header .btn-open-menu .hamburguer:after {
  background: #000;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

header .btn-open-menu .hamburguer:before {
  top: -5px;
}

header .btn-open-menu .hamburguer:after {
  bottom: -5px;
}

header .header-content {
  width: 85%;
  height: 100%;
  background-color: #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  left: -150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

header .header-content .btn-close-menu {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .header-content .btn-close-menu:before, header .header-content .btn-close-menu:after {
  background: #000;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

header .header-content .btn-close-menu:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 11px;
}

header .header-content .btn-close-menu:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 12px;
}

header .header-content nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .header-content nav a {
  color: #000;
  letter-spacing: .5px;
  line-height: 70px;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 2.5em;
}

header .header-content nav a:hover {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: .5s;
  transition: .5s;
}

header.open {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  z-index: 1;
}

header.open .btn-open-menu {
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

header.open .header-content {
  left: 0;
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
}

@font-face {
  font-family: "axis";
  src: url(../../fonts/axis.otf) format("truetype");
  font-weight: 100;
  font-style: bold;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 0.85em;
  overflow: hidden;
}

img {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  max-width: 200%;
  max-height: 100%;
  margin-right: 150px;
}

@media only screen and (min-width: 420px) {
  img {
    max-width: 400%;
    max-height: 150%;
  }
}

@media only screen and (min-width: 1000px) {
  img {
    max-width: 230%;
    max-height: 100%;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
}

.panel:hover img {
  cursor: pointer;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.animation-01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3b3b3b;
  z-index: 1;
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.animation-01.fadeOut {
  -webkit-animation: fadeOut 1s ease-out 1.2s forwards;
          animation: fadeOut 1s ease-out 1.2s forwards;
}

.loading {
  position: absolute;
  top: 50%;
  left: 49.5%;
  z-index: 10;
}

.loading .bullet {
  position: absolute;
  padding: 10px;
  border-radius: 50%;
  background: #ffffff;
  -webkit-animation: animIn 1s ease-in-out 2s 5;
          animation: animIn 1s ease-in-out 2s 5;
}

.animation-01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.translate {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: -150%;
  z-index: 1;
  opacity: 1;
  -webkit-animation: expand 3s ease-in-out forwards;
          animation: expand 3s ease-in-out forwards;
}

.loading .bullet:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.loading .bullet:nth-child(2) {
  -webkit-animation-delay: 0.20s;
          animation-delay: 0.20s;
}

.loading .bullet:nth-child(3) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.loading .bullet:nth-child(4) {
  -webkit-animation-delay: 0.50s;
          animation-delay: 0.50s;
}

@-webkit-keyframes animIn {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
}

@keyframes animIn {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
}

@-webkit-keyframes expand {
  0% {
    left: -150%;
    opacity: 1;
  }
  45% {
    left: 0%;
    opacity: 1;
  }
  100% {
    left: 0%;
    opacity: 0;
  }
}

@keyframes expand {
  0% {
    left: -150%;
    opacity: 1;
  }
  45% {
    left: 0%;
    opacity: 1;
  }
  100% {
    left: 0%;
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */