$break-small: 400px;
$break-large: 1200px;

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

img {
    filter: grayscale(100%);
    transition: .3s ease-in-out;

    max-width: 200%;
    max-height: 100%;
    margin-right: 150px;

    @media only screen and (min-width: $break-small){
        max-width: 400%;
        max-height: 150%;
    }

    @media only screen and (min-width: $break-large){
        max-width: 230%;
        max-height: 100%;
    }

}

.panel:hover img{
    filter: grayscale(0%);
}


