@import url("https://fonts.googleapis.com/css?family=Aclonica");
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: "axis";
    src: url(../../fonts/axis.otf) format("truetype");
    font-weight: 100;
    font-style: bold;
}