// Section du header 
header {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: .5s ease-in-out;
    
    // Emplacement du bouton menu
    .btn-open-menu {
      width: 25px;
      height: 18px;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
  
      &:after {
        background-color: #000;
        content: '';
        display: block;
        width: 50%;
        height: 2px;
        position: absolute;
        right: 0;
        bottom: 0;
        transition: all .5s ease-in-out;
      }

      //Style pour le bouton burger 
      .hamburguer {
        position: relative;
        display: block;
        background: #000;
        width: 100%;
        height: 2px;
        top: 5px;
        left: 0;
        transition: .5s ease-in-out;
  
        &:before, &:after {
          background: #000;
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          transition: .5s ease-in-out;
        }
  
        &:before {
          top: -5px;
        }
  
        &:after {
          bottom: -5px;
        }
      }
    }
    
    //Contenu du menu (position et style)
    .header-content {
      width: 85%;
      height: 100%;
      background-color: #EEEEEE;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: -150%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      align-content: center;
      transition: .1s ease-in-out;
        
      //Position du bouton de fermeture
      .btn-close-menu {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        align-content: center;
        

        //Style pour le bouton de fermeture 
        &:before, &:after {
          background: #000;
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          position: absolute;
          transition: .5s ease-in-out;
        }
  
        &:before {
          transform: rotate(45deg);
          top: 11px;
        }
  
        &:after {
          transform: rotate(-45deg);
          bottom: 12px;
        }
      }
  
      //Style pour la navigation 
      nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        
        //Style pour les boutons menu
        a {
          color: #000;
          letter-spacing: .5px;
          line-height: 35px;
          text-decoration: none;
          transition: .5s;
          font-size: 1.5em;
          
          &:hover {
            color: rgba(0, 0, 0, 0.5);
            transition: .5s;
          }
        }
      }
    }
    
    //Faire deplacer le menu de gauche a droite de la page
    &.open {
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.3);
      transition: .3s ease-in-out;
        
      //Faire disparaitre le bouton burger
      .btn-open-menu {
        opacity: 0;
        transition: .3s ease-in-out;
      }
      
      //Deplecer le menu
      .header-content {
        left: 0;
        transition: .7s ease-in-out;
      }
    }
  }